*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  box-sizing: border-box;

  @include respond(phone) {
    font-size: 75%;
  }

  @include respond(small-phone) {
    font-size: 62.5%;
  }
  @include respond(smallest-phone) {
    font-size: 50%;
  }
}

body {
  background-color: $main-background;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;

  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
