// COLORS

//////////////// BACKGROUNDS ////////////////

$main-background: hsl(218, 23%, 16%);
$card-background: hsl(217, 19%, 24%);
$neon-green: hsl(150, 100%, 66%);

//////////////// TEXT ////////////////

$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);

// Typography

$quote-font: 2.8rem;
