.card {
  background-color: $card-background;
  max-width: 60rem;
  border-radius: 1rem;
  padding-top: 4rem;
  padding-bottom: 6rem;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  @include respond(phone) {
    margin: 1.2rem;
    margin-top: -10rem;
  }
  @include respond(smallest-phone) {
    margin-top: -20rem;
  }
}

.container {
  max-width: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
  text-align: center;
}
