.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.advice-number {
  color: $neon-green;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;

  transition: all 0.3s;

  &:hover {
    color: darken($neon-green, 5%);
  }
}

.advice-text {
  color: $light-cyan;
  font-size: $quote-font;
}

.divider-pattern-desktop {
  @include respond(phone) {
    width: 0;
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}

.divider-pattern-mobile {
  display: none;
  visibility: hidden;
  opacity: 0;

  @include respond(phone) {
    display: block;
    visibility: visible;
    opacity: 100;
  }
}
